<template>
    <header class="header header--main">
        <div class="header__container">


            <!-- large up -->
            <no-ssr>
                <mq-layout mq="lg" class="header__menu">        
                    <ul class="">
                        <li>
                            <nuxt-link :to="'/'" exact>
                                <span>
                                    Home
                                </span>
                            </nuxt-link>
                            <nuxt-link :to="'/projects'">
                                <span>
                                    Projects
                                </span>
                            </nuxt-link>
                            <nuxt-link :to="'/posts'">
                                <span>
                                    Posts
                                </span>
                            </nuxt-link>
                            <nuxt-link :to="'/contact'">
                                <span>
                                    Contact
                                </span>
                            </nuxt-link>
                        </li>
                    </ul>

                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front" v-bind:style="{ backgroundImage: 'url(/images/Rory-cropped.jpg)' }">
                                <!-- front content -->
                            </div>
                            <div class="back" v-bind:style="{ backgroundImage: 'url(/images/bestGifEver.gif)' }">
                                <!-- back content -->
                            </div>
                        </div>
                    </div>
                </mq-layout>
            </no-ssr>
            <!-- large down -->
            <no-ssr>
                <mq-layout :mq="['sm', 'md', 'tabletdown']" class="header__menu">
                    <ul class="">
                        <li>
                            <nuxt-link :to="'/'" exact @click.native="toggleNavigation">
                                <span>
                                    Home
                                </span>
                            </nuxt-link>
                            <nuxt-link :to="'/projects'" @click.native="toggleNavigation">
                                <span>
                                    Projects
                                </span>
                            </nuxt-link>
                            <nuxt-link :to="'/posts'" @click.native="toggleNavigation">
                                <span>
                                    Posts
                                </span>
                            </nuxt-link>
                            <nuxt-link :to="'/contact'" @click.native="toggleNavigation">
                                <span>
                                    Contact
                                </span>
                            </nuxt-link>
                        </li>
                    </ul>
                </mq-layout>
            </no-ssr>
            
        </div>
    </header>
</template>


<style lang="scss" scoped>

    @import "../../assets/scss/common/mixins.scss";

    .flip-container {
        perspective: 1000px;
        transform-style: preserve-3d;
        max-width: 350px;
        width: 90%;
        position: relative;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;
        &:hover {
            // transform: rotateY(180deg);
            .back {
                transform: rotateY(0deg);
            }
            .front {
                transform: rotateY(180deg);
            }
        }
    }

    .flipper {
        @include aspect-ratio(1,1);
        display: block;
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
        div {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            backface-visibility: hidden;
            transition: 0.6s;
            transform-style: preserve-3d;
        }
        .front {
            transform: rotateY(0deg);
            z-index: 2;
        }
        .back {
            transform: rotateY(180deg);
        }
    }

</style>
    


<script>

	export default {
		methods: {
			toggleNavigation: function() {
				// this.$store.state.pageTemplate = 'page-tmpl--nav'
				// this.isActive = !this.isActive;
				this.$store.state.isNavActive = !this.$store.state.isNavActive;
				// console.log(this.$store.state.isNavActive)
			}
		}
	}


</script>