<template>

	<section class="contact-intro">
		<div class="contact-intro__container">
			<div class="contact-intro__grid align-middle">
                <div class="contact-intro__cell">
                    <div class="content">
                        
                        <div class="gf_browser_chrome fsForm_wrapper" id="fsForm_wrapper_1">
                            <div id="form_2_response"></div>
                            <form id="fsForm_1" @submit.prevent="validateBeforeSubmit">
                                <div class="fsForm_heading">
                                    <h1 class="fsForm_title">Contact</h1>
                                    <span class="fsForm_description"></span>
                                </div>
                                <div class="fsForm_body">
                                    <ul id="fsForm_fields_1" class="fsForm_fields top_label form_sublabel_below description_below">
                                        <li id="field_1_2" class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                            <label class="gfield_label" for="input_1_2">
                                                Services Needed?
                                            </label>
                                            <div class="ginput_container ginput_container_select">
                                                <select name="input_2" id="input_1_2" class="medium gfield_select" aria-invalid="false">
                                                    <option value="Development">Development</option>
                                                    <option value="Design">Design</option>
                                                    <option value="All of the above">All of the above</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li id="field_1_4" class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                            <label class="gfield_label" for="input_1_4">
                                                Name
                                            </label>
                                            <span v-show="errors.has('input_4')" class="callout alert">{{ errors.first('input_4') }}</span>
                                            <div class="ginput_container ginput_container_text">
                                                <input 
                                                    :class="{ 'form-control': true, 'is-danger': errors.has('input_4') }" 
                                                    v-model="input_4" 
                                                    v-validate="'required|alpha_spaces'"
                                                    name="input_4" 
                                                    id="input_1_4" 
                                                    type="text" 
                                                    value="" 
                                                    class="medium" 
                                                    placeholder="Name" 
                                                    aria-invalid="false">
                                            </div>
                                        </li>
                                        <li id="field_1_5" class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                            <label class="gfield_label" for="input_1_5">
                                                Email
                                            </label>
                                            <span v-show="errors.has('input_5')" class="callout alert">{{ errors.first('input_5') }}</span>
                                            <div class="ginput_container ginput_container_email">
                                                <input 
                                                     v-model="input_5" 
                                                    v-validate="'required|email'" 
                                                    :class="{'input': true, 'is-danger': errors.has('input_5') }"
                                                    name="input_5" id="input_1_5" type="text" value="" class="medium" placeholder="Email" aria-invalid="false">
                                            </div>
                                        </li>
                                        <li id="field_1_6" class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                            <label class="gfield_label" for="input_1_6">
                                                Message
                                            </label>
                                            <span v-show="errors.has('input_6')" class="callout alert">{{ errors.first('input_6') }}</span>
                                            <div class="ginput_container ginput_container_textarea">
                                                <textarea 
                                                    v-model="input_6" 
                                                    v-validate="'required|max:250'"
                                                    :class="{'textarea': true, 'is-danger': errors.has('input_6') }"
                                                    name="input_6" id="input_1_6" class="textarea medium" placeholder="Message" aria-invalid="false" rows="10" cols="50"></textarea>
                                            </div>
                                        </li>
                                        <li id="field_1_7" class="gfield fsForm_validation_container field_sublabel_below field_description_below gfield_visibility_visible"><label class="gfield_label" for="input_1_7">Phone</label>
                                            <div class="ginput_container"><input name="input_7" id="input_1_7" type="text" value=""></div>
                                            <div class="gfield_description">This field is for validation purposes and should be left unchanged.</div></li>
                                    </ul>
                                </div>
                                <div class="fsForm_footer top_label">
                                    
                                    <button id="fsForm_submit_button_1" class="fsForm_button button">
                                        submit
                                    </button> 

                                </div>
                            </form>
                        </div>

                    </div>
                </div>
			</div>
		</div>
	</section>

</template>

<style lang="scss" scoped>
    .fsForm_button {
        background-color: rgba($color: #000000, $alpha: 1);
        &:hover {
            background-color: rgba($color: #000000, $alpha: .8)
        }
    }
</style>


<script>

    import Vue from 'vue';
    import VeeValidate from 'vee-validate';

    Vue.use(VeeValidate);
    // add this because inputs need to be kept the safe for WP 
    import { Validator } from 'vee-validate';
    const dictionary = {
        en: {
            attributes: {
                input_2: 'Select',
                input_4: 'Name',
                input_5: 'Email Address',
                input_6: 'Message'
            }
        },

    };

    Validator.localize(dictionary);

	export default {
		beforeMount() {
            this.$store.state.pageClass = 'page-tmpl--contact page-tmpl--height';

            this.toggleBodyClass('addClass', 'mb-3');
        },
		mounted() {
            // this.getHeader();
            // pagination.push(this.pagination.prevPage)
		},
		data(){
            return {
                post: [],
                input_4: '',
                input_5: '',
                input_6: ''
            }
		},
		destroyed() {
            this.$store.state.pageClass = ''
            
            this.toggleBodyClass('removeClass', 'mb-3');
        },
        head () {
            return {
                title: 'Contact | Rory Heaney',
                meta: [
                    { hid: 'description', name: 'description', content:  'Contact Rory Heaney about web development'},
                    { hid: 'og:url', property: 'og:url', content: 'https://fancysquares.blog' + this.$route.fullPath},
                    { hid: 'og:description', property: 'og:description', content:  'Contact Rory Heaney about web development'},
                    { hid: 'og:title', property: 'og:title', content: 'Contact | Rory Heaney'},
                    { property: 'og:type', content: 'object' },
                    { property: 'og:image', content: '' },
                ]
            }
        },
		methods: {
            toggleBodyClass(addRemoveClass, className) {
				const el = document.body;

				if (addRemoveClass === 'addClass') {
					el.classList.add(className);
				} else {
					el.classList.remove(className);
				}
			},
			validateBeforeSubmit($el){
                this.$validator.validateAll().then((result) => {
                    if (result) {
                    // eslint-disable-next-line
                        let self = this;
                            // console.log($el)
                            // console.log('yes');
                        // let test =   {
                        //         input_2 : $el.target[0].value, // select
                        //         input_4:  $el.target[2].value, // name
                        //         input_5 : $el.target[1].value, // email
                        //         input_6:  $el.target[3].value, // Message
                        //         input_7: $el.target[4].value, // honeypost
                        //     }

                        //     console.log(test);

                        this.$axios.post('/contact-us/',{
                            input_values : {
                                    input_2 : $el.target[0].value, // select
                                    input_4:  $el.target[1].value, // name
                                    input_5 : $el.target[2].value, // email
                                    input_6:  $el.target[3].value, // Message
                                    input_7: $el.target[4].value, // honeypost
                                }
                        })
                            .then(function (response) {
                                // console.log(response);
                                if(response.data.response.is_valid === false && response.data.response.validation_messages[1]){
                                    // console.log('balls');
                                    // self.is_value = false;
                                    self.formResponse = response.data.response.validation_messages[1]
                                    // console.log('nothing');
                                } else if(response.data.response.validation_messages && response.data.response.is_valid === false){
                                    // a bot filled this honey pot out!
                                    // self.is_value = false;
                                    // self.formResponse = 'Thanks for BOT! We will get in touch with you shortly.';
                                    document.getElementById('form_2_response').innerHTML += 'Thanks for BOT! We will get in touch with you shortly.';
                                } else {
                                    // self.is_value = true;
                                    document.getElementById('form_2_response').innerHTML += response.data.response.confirmation_message;
                                }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        // console.log('Form Submitted!');
                        return;
                    }

                    // alert('Correct them errors!');
                });
            }
		},
		
	}

</script>

