<!-- I am emitting events as it is going from child to parent -->
<template>
    <nav class="pagination">

        <div class="pagination__grid">
            <!-- <div class="pagination__cell pagination__cell--full">
                <span class="pagination__container">
                    {{pagination.from}} - {{pagination.to}} of {{pagination.total}}
                </span>
            </div> -->
            <div class="pagination__cell text-left">
                <a v-if="pagination.prevPage" @click="$emit('prev')" class="button is-small pagination-previous">
                    Prev
                </a>
                <a class="button is-small pagination-previous" v-else disabled>
                    Prev
                </a>
            </div>
            <div class="pagination__cell text-right">
                <a v-if="pagination.nextPage" @click="$emit('next')" class="button is-small pagination-next">
                    Next
                </a>
                <a class="button is-small pagination-next" v-else disabled>
                    Next
                </a>
            </div>
        </div>

    </nav>
</template>

<script>
    // import store from './store';
    export default {
        props: ['pagination']
    }
</script>

<style scoped lang="scss">

</style>