<template>
    
    <section class="single-layout__pagination">

        <div class="grid-x grid-margin-x single-layout__pagination-grid align-justify">

            <div class="cell small-6 prev">

                <nuxt-link :to="paginate.previous_post.slug" class="pagination-link grid-x grid-x--fullwidth" v-if="paginate.previous_post.slug !== null">
                        <span class="cell cell--post-title">
                            <span class="basic-title" v-html="'< Previous Post'">
                                 
                            </span><br/>
                            <span class="title">
                                {{ paginate.previous_post.name | truncate(30) }}
                            </span>
                        </span>
                        
                </nuxt-link>
        
            </div>

            <div class="cell small-6 next text-right">


                <nuxt-link :to="paginate.next_post.slug"  v-if="paginate.next_post.slug !== null" class="pagination-link grid-x grid-x--fullwidth">
                    <span class="cell cell--post-title">
                        <span class="basic-title">
                                Next Post >
                        </span><br/>
                        <span class="title">
                            {{ paginate.next_post.name | truncate(30) }}
                        </span>
                    </span>
                    
                </nuxt-link>

            </div>
        
        </div>

    
    </section>

</template>

<style lang="scss" scoped>
    .pagination-link {
        color: grey;
    }
    .single-layout__pagination {
        margin-bottom: 30px;
    }
</style>


<script>
    export default {
        // hook into life cycle event
        mounted() {
            // console.log(paginate);
        },
        filters: {
            truncate(string, value) {
                return string.substring(0, value) + '…';
            }
        },
        props: [
            'paginate',
        ],
    }
</script>