<template>

	<section class="posts-intro">
		<div class="posts-intro__container">
			<div class="posts-intro__grid align-middle">
                <div class="posts-intro__cell">
                    <div class="content">
                        <h1>
                            Projects
                        </h1>
                        <pagination :pagination="pagination"
                            @prev="--postsData.page; getPosts();"
                            @next="postsData.page++; getPosts();">
                        </pagination>
                        
                        <div class="posts-intro__sub-grid">
                            <a 
                                class="post-preview post-preview--project top" 
                                v-for="post in posts" 
                                :key="post.id" 
                                :href="post.acf.website_url" 
                                target="_blank" 
                                data-tooltip  
                                tabindex="2" 
                               :title="post.title.rendered"
                            >   
                                <span class="tooltip-container">
                                    <img class="logo" :src="post.fi_full" :alt="post.title.rendered"> 
                                    <span class="tooltip">
                                        <div class="project-image" v-bind:style="{ 'background-image': 'url(' + post.acf.site_preview_image.sizes.large + ')' }"></div>
                                        <span v-html="post.title.rendered"></span><i class="fa fa-external-link" aria-hidden="true"></i>
                                    </span>
                                </span>
                            </a>
                            
                        </div>

                    </div>
                </div>
			</div>
		</div>
	</section>

</template>


<style lang="scss" scoped>
    
    @import "../../assets/scss/common/mixins.scss";

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    .post-preview {
        opacity: 1;
        &:hover {
            opacity: 1;
        }
        .tooltip-container {
            display: block;
            // margin-bottom: 30px;
        }
        .fa {
            vertical-align: middle;
            margin-left: 10px;
        }
        .tooltip {
            span {
                font-size: 14px;
                vertical-align: middle;
            }
        }
    }

    .tooltip-container {
        @include aspect-ratio(16,9);
        display: block;
        width: 100%;
        position: relative;
        margin: 0;
        .logo {
            @include centerer;
            max-width: 80%;
            // width: 100%;
        }
        &:hover {
            .tooltip {
                // display: block;
                opacity: 1;
            }
        }
        .tooltip {
            @include centerer;
            // display: none;
            transition: opacity .25s ease-out;
            margin: auto;
            max-width: 100%;
            width: 100%;
            @media only screen and (min-width: 1024px) {
                opacity: 0;
                min-width: 120%;
                width: 120%;
            }
        }
    }

    .project-image {
        @include aspect-ratio(16,9);
        display: block;
        background-size: cover;
        background-position: center;
    }

    // .posts-intro__sub-grid {
    //     transition: transform .4s ease-out, opacity .4s ease-out;
    //     &.animate {
    //         transform: matrix3d(0.410689, -0.109361, 0, 0, 0.116355, 0.382703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    //         // visibility: hidden;
    //         opacity: 0;
    //         transform-origin: 50% 50% 0px;
    //     }
    // }

</style>



<script>

	import API_CONFIG from '~/store/apiConfig.js'
	import Pagination from '~/components/posts/Pagination.vue'
    import axios from 'axios'
    import mutations from '~/store/mutations'

	export default {
		beforeMount() {
            this.$store.state.pageClass = 'page-tmpl--posts page-tmpl--height';
            this.toggleBodyClass('addClass', 'mb-2');
        },
		mounted() {

		},
		data(){
            return {
                posts: [],
                postsData: {
                    per_page: this.$store.state.postsData.per_page,
                    page: this.$store.state.postsData.page
                },
                pagination: {
                    prevPage: '',
                    nextPage: '',
                    totalPages: '',
                    from: '',
                    to: '',
                    total: '',
                },
            }
		},
		destroyed() {
            this.$store.state.pageClass = ''
            this.toggleBodyClass('removeClass', 'mb-2');
		},
		components: {
			'pagination': Pagination
        },
        head () {
            return {
                title: 'Projects | Rory Heaney',
                meta: [
                    { hid: 'description', name: 'description', content:  'Projects built by Rory Heaney'},
                    { hid: 'og:url', property: 'og:url', content: 'https://fancysquares.blog' + this.$route.fullPath},
                    { hid: 'og:description', property: 'og:description', content:  'Projects built by Rory Heaney'},
                    { hid: 'og:title', property: 'og:title', content: 'Projects | Rory Heaney'},
                    { property: 'og:type', content: 'object' },
                    { property: 'og:image', content: '' },
                ]
            }
        },
		methods: {
            toggleBodyClass(addRemoveClass, className) {
				const el = document.body;

				if (addRemoveClass === 'addClass') {
					el.classList.add(className);
				} else {
					el.classList.remove(className);
				}
			},
			getPosts(){
                axios.get(API_CONFIG.baseUrl + API_CONFIG.baseProjectsUrl, {params: this.postsData})
                    .then((response) => {
                        this.posts = response.data;
                        this.configPagination(response.headers);
                    })
                        .catch( error => { 
                            console.log(error); 
                        });

                // jQuery('.posts-intro__sub-grid').addClass('animate');

            },
			configPagination(headers, value) {
                this.pagination.total = +headers['x-wp-total'];
                this.pagination.totalPages = +headers['x-wp-totalpages'];
                this.pagination.from = this.pagination.total ? ((this.postsData.page - 1) * this.postsData.per_page) + 1 : ' ';
                this.pagination.to = (this.postsData.page * this.postsData.per_page) > this.pagination.total ? this.pagination.total : this.postsData.page * this.postsData.per_page;
                this.pagination.prevPage = this.postsData.page > 1 ? this.postsData.page : '';
                this.pagination.nextPage = this.postsData.page < this.pagination.totalPages ? this.postsData.page + 1 : '';

                // //update store for when you got back to the page
                // this.$store.dispatch('updatePaginationTotal', this.pagination.total);
                // this.$store.dispatch('updatePaginationTotalPages', this.pagination.totalPages);
                // this.$store.dispatch('updatePostsCurrentPage', this.postsData.page);
                // this.$store.dispatch('updatePaginationNextPage', this.pagination.nextPage);
                // this.$store.dispatch('updatePaginationTo', this.pagination.to);
                // this.$store.dispatch('updatePaginationFrom', this.pagination.from);
                // this.$store.dispatch('updatePaginationPreviousPage', this.pagination.prevPage);
            }
		},
		async asyncData(context) {

            const response = await axios.get(API_CONFIG.baseUrl + API_CONFIG.baseProjectsUrl + '?per_page=4&page=' + context.app.store.state.postsData.page);
                let totalPages = parseInt(response.headers['x-wp-totalpages'])

            return {
                posts: response.data,
                pagination: {
                    totalPages: totalPages,
                    total: parseInt(response.headers['x-wp-total']),
                    from: context.app.store.state.pagination.from,
                    nextPage: context.app.store.state.pagination.nextPage,
                    to: context.app.store.state.pagination.to
                }
            }

        },
		
	}

</script>

