.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .title-bar {
            display: none;
        }
    }
}

.header {

    &--main {
        position: relative;
        right: 0;
        top: 0;
        display: block;
        width: 100%;
        z-index: 0;
        @include breakpoint(medium down){
            background-color: grey;
            display: none;
            padding: 15px 0;
        }
        @include breakpoint(large){
            position: absolute;
            height: 100%;
            width: 35%;
        }
        @include breakpoint(xlarge){
            width: 40%;
        }
        @include breakpoint(xxlarge){
            width: 50%;
        }
        &:before {
            @include breakpoint(large){
                // background-color: #232328;
                background-color: #242427;
                content:'';
                height: 0%;
                width: 80%;
                display: block;
                right: 0;
                top: 0;
                opacity: 1;
                position: absolute;
                box-shadow: -12px 4px 18px -1px #000;
                transition: height .45s ease-in-out, opacity .45s ease-in-out, transform .45s ease-in-out;
                z-index: 1;
                transition-delay: .15s;
                // transform: translateY(100px)
                
            }
        }
        &:after {
            @include breakpoint(large){

                background-color: #232328;
                position: absolute;
                right: 0;
                top: 0;
                height: 0%;
                width: 86%;
                transition: opacity .45s ease-in-out, height .45s ease-in-out;
                transition-delay: 0s;
                content: '';
                z-index: 0;
                opacity: 1;
                box-shadow: 0 0 10px 0 #000;
            }
        }
        .page-tmpl--nav & {
            &:before {
                width: 80%;
                border-radius: 0;
                height: 100%;
                opacity: 1;
                transition-delay: 0s;
                // transform: translateY(0)
            }
            &:after {
                height: 100%;
                opacity: 1;
                transition-delay: .15s;
            }

            .header__menu {
                opacity: 1;
            }
        }

        .header__title {
            @include MONTSERRAT_REG;
            @include breakpoint(large){
                color: $white;
                text-align: right;
                text-transform: uppercase;
                font-size: 22px;
                letter-spacing: 4px;
            }
        }
    }

    &__container {
        z-index: 3;
        position: relative;
        @include breakpoint(large){
            width: 80%;
            margin-left: 20%;
            padding: 75px 50px 0;
        }
    }

    &__menu {
        opacity: 0;
        transition: opacity .35s ease-in-out;
        transition-delay: .32s;
        position: relative;
        @include breakpoint(large){
            margin: 0 -50px;
        }
        ul {
            margin: 0 0 30px;
            position: relative;
            z-index: 1;
        }
        li {
            list-style: none;
            position: relative;
        }
        span {
            letter-spacing: 1px;
            padding: 10px;
            display: block;
            width: 100%;
        }
        a {
            @include MONTSERRAT_MED;
            color: $white;
            position: relative;
            display: block;
            width: 100%;
            @include breakpoint(large){
                left: 1px;
            }
            &:before,
            &:after {
                position: absolute;
                z-index: 0;
                height: 100%;
                display: block;
                top: 0;
                opacity: 0;
                transition: opacity .25s ease-out;
            }
            &:before {
                background-color: rgba($color: #fff, $alpha: .2);
                content:'';
                position: absolute;
                left: 0;
                width: 100%;
            }
            &:after {
                background-color: rgba($color: #fff, $alpha: .1);
                content: '';
                left: -26px;
                width: 25px;
                top: 12px;
            }
            &:hover {
                &:before,
                &:after {
                    opacity: 1;
                }
            }
            &.nuxt-link-active {
                &:before,
                &:after {
                    opacity: 1;
                }
            }
            span {
                position: relative;
                z-index: 2;
                @include breakpoint(medium down){
                    // padding-left: 0;
                    // padding-right: 0;
                }
                @include breakpoint(large){
                    padding-left: 50px;
                }
            }
        }
    }

    &__logo {
        display: block;
        max-width: 350px;
        margin: 0 auto;
        width: 90%;
    }

    &__title {
        @include hide-for(large);
    }

}

.flip-container {
    @include breakpoint(medium down){
        display: none;
    }
}