body {
    // padding: 50px;
    background-color: #fafbfc;
    @include breakpoint(large){
        padding: 50px; 
    }
}

.page-tmpl {
    background-color: $white;
    box-shadow: 2px 12px 30px 4px rgba(0, 0, 0, 0.09), 3px 8px 5px rgba(0, 0, 0, 0.03), 2px 3px 4px -2px rgba(0, 0, 0, 0.08), 0px 75px 70px -50px rgba(10, 20, 50, 0.12), 0px -5px 5px 0px white;
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    @include breakpoint(large){
        min-height: calc(100vh - 100px);
        overflow: hidden;
    }
    @include breakpoint(medium down){
        box-shadow: none !important;
    }

    &:after {
        content: '';
        min-height: inherit;
    }


    
    .mb-0 & {
        box-shadow: 2px 12px 30px 4px rgba(0, 0, 0, 0.09), 3px 8px 5px rgba(0, 0, 0, 0.03), 2px 3px 4px -2px rgba(0, 0, 0, 0.08), 0px 75px 70px -50px rgba(10, 20, 50, 0.12), 0px -5px 5px 0px rgba($color: #C7BEBE, $alpha: .05);
    }
    
    .mb-1 & {
        box-shadow: 2px 12px 30px 4px rgba(0, 0, 0, 0.09), 3px 8px 5px rgba(0, 0, 0, 0.03), 2px 3px 4px -2px rgba(0, 0, 0, 0.08), 0px 75px 70px -50px rgba(10, 20, 50, 0.12), 0px -5px 5px 0px rgba($color: #00CBBC, $alpha: .05);
    }

    .mb-2 & {
        box-shadow: 2px 12px 30px 4px rgba(0, 0, 0, 0.09), 3px 8px 5px rgba(0, 0, 0, 0.03), 2px 3px 4px -2px rgba(0, 0, 0, 0.08), 0px 75px 70px -50px rgba(10, 20, 50, 0.12), 0px -5px 5px 0px rgba($color: #7451FF, $alpha: .05);
    }

    .mb-3 & {
        box-shadow: 2px 12px 30px 4px rgba(0, 0, 0, 0.09), 3px 8px 5px rgba(0, 0, 0, 0.03), 2px 3px 4px -2px rgba(0, 0, 0, 0.08), 0px 75px 70px -50px rgba(10, 20, 50, 0.12), 0px -5px 5px 0px rgba($color: #F5AF00, $alpha: .05);
    }

    .mb-4 & {
        box-shadow: 2px 12px 30px 4px rgba(0, 0, 0, 0.09), 3px 8px 5px rgba(0, 0, 0, 0.03), 2px 3px 4px -2px rgba(0, 0, 0, 0.08), 0px 75px 70px -50px rgba(10, 20, 50, 0.12), 0px -5px 5px 0px rgba($color: #F54E54, $alpha: .05);
    }

    &--nav {
        @include breakpoint(large){
            // height: calc(100vh - 100px);
        }
        .header--main {
            z-index: 2;
            @include breakpoint(medium down){
                display: block;
            }
        }
        main {
            // opacity: .7;
        }
        // .header--main {

        // }
    }
}

main {
    position: relative;
    z-index: 1;
    transition: opacity .25s ease-out;
    > section {
        @include breakpoint(medium down){
            padding-top: 50px;
        }
    }
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s
  }
  .page-enter, .page-leave-active {
    opacity: 0
  }

.home-intro {
    // transition: all .5s cubic-bezier(.55,0,.1,1);
    &__container {
        @include xy-grid-container;
        @include breakpoint(xlarge){
            max-width: 100%;
        }
    }
    &__grid {
        @include xy-grid();
        @include min-vh;
        &:after {
            content:'';
            min-height: inherit;
        }
    }

    .left,
    .right {
        @include xy-cell(12);
        transition: padding-right .35s ease-out;
        transition-delay: .3s;
        padding-bottom: 0;
        .page-tmpl--nav & {
            @include content-spacing-nav-open;
        }
        .content {
            display: block;
            width: 100%;
            margin: 0 auto;
            @include breakpoint(large){
                max-width: 600px;
            }
        }
        a {
            color: #773d84;
            &:hover {
                color: #9c1a1a;
            }
        }
    }
    h1 {
        margin-bottom: 20px;
    }
    h2 {
        @include GARAMOND_I;
        font-size: rem-calc(16);
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        padding: 10px 0;
        margin-bottom: 15px;
        letter-spacing: rem-calc(1.5);
    }
}

.contact-intro {
    &__container {
        @include xy-grid-container;
        // transition: max-width .35s ease-out, margin-right .35s ease-out;
        max-width: 100%;
        @include breakpoint(xlarge){
            // // max-width: 50%;
            // padding-right: 47%;
        }
        
        // .page-tmpl--nav & {
        //     padding-right: 47% !important;
        //     padding-left: 30px !important;
        //     max-width: 100%;
        // }
    }
    &__grid {
        @include xy-grid();
        @include min-vh;
        &:after {
            content: '';
            min-height: inherit;
        }
    }

    &__sub-grid {
        @include xy-grid();
        width: 100%;
    }

    &__cell {
        @include xy-cell();
        transition: padding-right .35s ease-out;
        transition-delay: .3s;
        padding-bottom: 0;
        .page-tmpl--nav & {
            @include content-spacing-nav-open();
        }
        .content {
            display: block;
            width: 100%;
            max-width: 760px;
            margin: 0 auto;
        }
    }

}

// main {
//     background-color: rgba($color: #fff, $alpha: 1.0);
//     transition: background-color .35s ease-out;


//     .page-tmpl--nav.page-tmpl--posts & {
//         background-color: rgba($color: #607d8b, $alpha: 1.0)
//     }

// }
