.posts-intro {
    &__container {
        @include xy-grid-container;
        // transition: max-width .35s ease-out, margin-right .35s ease-out;
        max-width: 100%;
        @include breakpoint(xlarge){
            // // max-width: 50%;
            // padding-right: 47%;
        }
        
        // .page-tmpl--nav & {
        //     padding-right: 47% !important;
        //     padding-left: 30px !important;
        //     max-width: 100%;
        // }
    }
    &__grid {
        @include xy-grid();
        @include min-vh();
        @include breakpoint(medium down){
            margin: 0 -10px;
        }
        &:after {
            content: '';
            min-height: inherit;
        }
    }

    &__sub-grid {
        @include xy-grid();
        width: 100%;
        @include breakpoint(medium down){
            margin: 0;
        }
    }

    &__cell {
        @include xy-cell();
        transition: padding-right .35s ease-out;
        transition-delay: .3s;
        padding-bottom: 0;
        .page-tmpl--nav & {
            @include content-spacing-nav-open();
        }
        .content {
            display: block;
            width: 100%;
            max-width: 760px;
            margin: 0 auto;
        }
    }

}

.post-content {
    &__container {
        @include xy-grid-container;
        max-width: 100%;
        
    }
    &__grid {
        @include xy-grid();
        @include min-vh();
        &:after {
            content: '';
            min-height: inherit;
        }
    }

    &__cell {
        @include xy-cell();
        transition: padding-right .35s ease-out;
        transition-delay: .3s;
        padding-bottom: 0;
        .page-tmpl--nav & {
            @include content-spacing-nav-open();
        }
        .content {
            display: block;
            width: 100%;
            // max-width: 760px;
            margin: 0 auto;
            a {
                color: #773d84;
                font-weight: bold;
                &:hover {
                    color: #9c1a1a;
                }
            }
        }
    }
}

.page-tmpl--post {
    h2 {
        text-transform: none;
        letter-spacing: 1px;
        line-height: 1.4;
        font-size: 28px;
        margin-bottom: 20px;
    }
}