.button {

    &--site {
        color: $black;
        background-color: transparent;
        text-align: center;
        &:hover,
        &:focus {
            background-color: transparent;
            color: $gray;
        }
        .fa {
            font-size: rem-calc(30);
            margin-bottom: 15px;
        }
        span {
            @include MONTSERRAT_BOLD;
            display: block;
        }
    }
}