// Search form
.search-form {

}
.search-form label {
    font-weight: normal;
}
.search-form .search-field {
}
.search-form .search-submit {
    @extend .button;
}
form {
	.fsForm_validation_container {
		display: none;
	}
	
	.gfield_error {
		.validation_message {
			@extend .form-error;
			display: inherit;
			margin-top: 1rem;
		}
	}
	.fsForm_fields {
		margin-left: 0;
		.gfield {
			list-style: none;
			margin-bottom: rem-calc(15);
		}
	}

	.callout {
		display: block;
	}

	.fsForm_body {
		select {
			color: $black;
			border: 1px solid $black;
			box-shadow: none;
			margin-bottom: 0;
			height: auto;
			padding: 15px 30px 15px 15px;
		}
		input,
		textarea {
			color: $black;
			border: 1px solid $black;
			box-shadow: none;
			margin-bottom: 0;
			background: none;
			height: auto;
			padding: rem-calc(15);
			//font-styling
			@include placeholder {
				color: $black;
			}
		}
	}

	// .fsForm_footer {
	// 	text-align: center;
	// 	.fsForm_button {
	// 		//font-styling
	// 		background: none;
	// 		padding: 0;
	// 		appearance:none;
	// 		padding: 0.9375rem 3.75rem;
	// 		&:hover {
	// 			background:none;
	// 		}
	// 	}
	// }

	// .chosen-container-single {
	// 	.chosen-single {
	// 		//font-styling
	// 		border: 1px solid $black;
	// 		background: none;
	// 		border-radius: 0;
	// 	    padding: 8px 11px;
	// 	    height: 41px;
	// 	}
	// }
	// .chosen-container-multi {
	// 	//font-styling
	// 	.chosen-choices {
	// 		color: $black;
	// 		border: 1px solid $black;
	// 		background: none;
	// 		border-radius: 0;
	// 	    padding: 8px 11px;
	// 	    height: 41px;
	// 	}
	// }
}

/*#fsForm_confirmation_wrapper_1 {

}*/

body img.fsForm_ajax_spinner {
    display: none!important;
}