.pagination {
    @include xy-grid-container;
    margin-bottom: 40px;
    padding: 0;
    &__grid {
        @include xy-grid();
        width: 100%;
    }

    &__cell {
        @include xy-cell(6);
        &--full {
            @include xy-cell();
            text-align: center;
            margin-bottom: 30px;
        }
    }

    .button {
        display: inline-block;
        padding: 15px;
        width: 100%;
        color: $white;
        background-color: $black;
        @include breakpoint(medium){
            min-width: 150px;
            width: auto;
        }
    }
}

.single-layout__pagination {
    .grid-x {
        @include breakpoint(small only){
            // margin: 0;
        }
    }

    .title {
        @include show-for(medium)
    }
}