.post-preview {
    // transition: all .5s cubic-bezier(.55,0,.1,1);
    @include xy-cell();
    @include breakpoint(medium){
        @include xy-cell(6);
    }
    @extend .h2;
    text-align: center;
    color: $black;
    opacity: .8;
    transition: opacity .25s ease-out, width .35s ease-out;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 32px;
    // &:nth-child(3),
    // &:nth-child(4) {
    //     margin-top: 30px;
    // }
    margin-bottom: 50px;
    position: relative;
    .mb-1 & {
        &:before {
            position: absolute;
            height: 5px;
            width: 100px;
            left: 0;
            right: 0;
            margin: auto;
            content: '';
            background-color: rgba($color: #00CBBC, $alpha: 1);
            top: -48px;
            display: none
        }
    }
    // // projects page
    // .mb-2 & {
    //     &:before {
    //         display: 
    //     }
    // }
    &:hover {
        color: $black;
        opacity: .5;
    }
    .mb-1 & {
        &:nth-child(2) {
            @include breakpoint(small only){
                margin-top: 45px;
            }
            &:before {
                @include breakpoint(small only){
                    display: block;
                }
            }
        }
        &:nth-child(3),
        &:nth-child(4) {
            margin-top: 45px;
            &:before {
                display: block;
            }
        }
    }

    &--project {
        @include breakpoint(medium down){
            margin-bottom: 75px;
        }
    }

    .page-tmpl--nav & {
        // @include xy-cell(12);
    }
}
pre {
    color: #fff;
    // width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    overflow-y: hidden;
    font-size: 17px;
    line-height: 30px;
    background: #efefef;
    border: 1px solid #777;
    background: #1d1f21;
    padding: 15px;
    box-shadow: 2px 12px 30px 4px rgba(0, 0, 0, 0.05), 3px 8px 5px rgba(0, 0, 0, 0.03), 2px 3px 4px -2px rgba(0, 0, 0, 0.08), 0px 75px 70px -50px rgba(10, 20, 50, 0.12), 0px -5px 5px 0px white;
    // max-width: 100%;
    display: block;
    white-space: pre-wrap;
    margin-bottom: 15px;
}
pre code {
    padding: 10px;
    color: #333;
}