.vuebar-element {
    @include content-max-width();
    height: 650px;
    // width: 100%;
    // max-width: 500px;
    width: 100%;
    margin: 0 auto;
    @include breakpoint(medium down){
        height: auto !important;
        overflow: visible !important;
        margin-top: 30px;
    }
    @media only screen and (min-height: 700px) {
        height: 550px;
    }
    @media only screen and (min-height: 800px) {
        height: 600px;
    }
    @media only screen and (min-height: 900px) {
        height: 695px;
    }
    @media only screen and (min-height: 1080px) {
        height: 800px;
    }
    @media only screen and (min-height: 1200px) {
        height: 900px;
    }
    .content {
        @include breakpoint(large){
            padding-right: 35px;
        }
    }

    .vb-content {
        @include breakpoint(medium down){
            height: auto !important;
            overflow: visible !important;
            width: 100% !important;
        }
    }

    .vb-dragger {
        @include breakpoint(medium down){
            display: none;
        }
    }
}
  
  
  .vb > .vb-dragger {
      z-index: 5;
      width: 12px;
      right: 0;
  }
  
  .vb > .vb-dragger > .vb-dragger-styler {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: rotate3d(0,0,0,0);
      transform: rotate3d(0,0,0,0);
      -webkit-transition:
          background-color 100ms ease-out,
          margin 100ms ease-out,
          height 100ms ease-out;
      transition:
          background-color 100ms ease-out,
          margin 100ms ease-out,
          height 100ms ease-out;
      background-color: rgba(0, 0, 0, 0.6);
      margin: 5px 5px 5px 0;
      border-radius: 20px;
      height: calc(100% - 10px);
      display: block;
  }
  
  .vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
      background-color: rgba(0, 0, 0,.8);
  }
  
  .vb > .vb-dragger:hover > .vb-dragger-styler {
      background-color: rgba(0, 0, 0,.9);
      margin: 0px;
      height: 100%;
  }
  
  .vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
      background-color: rgba(0, 0, 0,.9);
      margin: 0px;
      height: 100%;
  }
  
  .vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
      background-color: rgba(0, 0, 0,.9);
  }