<template>

	<section class="post-content">
		<article class="post-content__container">
			<div class="post-content__grid align-middle"> 
                <div class="post-content__cell">

                    <div class="content-wrapper">
                        <div class="vuebar-element" v-bar>
                            <div>
                                <div class="content">
                                    <prev-next :paginate="post.prev_next"></prev-next>
                                    <h1 v-html="post.title.rendered">
                                        <!-- {{ post.title.rendered }} -->
                                    </h1>
                                </div>
                                <div class="content" v-html="post.content.rendered"></div>
                            </div>
                        </div>
                    </div>

                </div>
			</div>
		</article>
	</section>

</template>

<style lang="scss" scoped>
    h1 {
        margin-bottom: 30px;
        text-transform: none;
        letter-spacing: 1px;
        line-height: 1.1;
    }

</style>


<script>

   
    import { mapState } from 'vuex'

    import API_CONFIG from '~/store/apiConfig.js'
    import PrevNext from '~/components/posts/prev-next.vue'

    import Vue from 'vue'
    import Vuebar from 'vuebar'
    Vue.use(Vuebar);

    export default {
        props: [
            'paginate',
        ],
        beforeMount() {
            this.$store.state.pageClass = 'page-tmpl--post';

            this.toggleBodyClass('addClass', 'mb-4');
        },
        mounted(){
            this.mainClassChange();

            // this.sendPageView();

            // this.setPopularPosts();

            // console.log(this.post.prev_next);
        },
        destroyed() {
            // this.$store.state.pageClass = ''
            this.toggleBodyClass('removeClass', 'mb-4');
		},
        head () {
			return {
				title: this.post.title.rendered,
				meta: [
                    { hid: 'description', name: 'description', content:  this.post.yoast_meta.yoast_wpseo_metadesc},
                    { hid: 'og:url', property: 'og:url', content: 'https://fancysquares.blog' + this.$route.fullPath},
                    { hid: 'og:description', property: 'og:description', content:  this.post.yoast_meta.yoast_wpseo_metadesc},
                    { hid: 'og:title', property: 'og:title', content: this.post.title.rendered},
                    { property: 'og:type', content: 'object' },
                    { property: 'og:image', content: '' },
                ],
                __dangerouslyDisableSanitizers: ['script'],
                script: [{ 
                    // innerHTML: JSON.stringify(this.structuredData),
                    innerHTML: `{
                        "@context" : "http://schema.org",
                        "@type" : "NewsArticle",
                        "name" : "`+ this.post.title.rendered +`",
                        "headline": "`+ this.post.title.rendered +`",
                        "author" : {
                            "@type" : "Person",
                            "name" : "Rory Heaney",
                            "url":"https://fancysquares.blog/"
                        },
                        "creator":[  
                            "Rory Heaney"
                        ],
                        "mainEntityOfPage": {
                            "@type": "WebPage",
                            "@id": "https://fancysquares.blog`+ this.$route.fullPath +`"
                        },
                        "publisher" : {
                            "@type" : "Organization",
                            "name" : "Fancy Squares",
                            "logo": "https://fancysquares.blog/logo.jpg"
                        },
                        "datePublished": "`+ this.post.date +`",
                        "dateCreated": "`+ this.post.date +`",
                        "dateModified": "`+ this.post.date +`",
                        "image": "https://fancysquares.blog/schema-pic.jpg",
                        "articleBody": "`+ this.post.acf.schema_content +`"
                    }`, 
                    type: 'application/ld+json' 
                }]
			}
		},
        asyncData(context) {
            return context.app.$axios.$get(API_CONFIG.baseUrl + 'wp/v2/posts?slug=' + context.params.slug)
                .then(data => {

                    // console.log(data[0]);
                    // $.get( "https://websiteurl.com/wp-json/base/views/" + data[0].id);
                    return {
                        post: data[0],
                        // metaTitle: data[0].yoast_meta.yoast_wpseo_title,
                        // metaDescription: data[0].yoast_meta.yoast_wpseo_metadesc,
                        // postID: data[0].id
                    }
                }).catch(e => {
                    console.log(e);
                })
        },
        data(){
            return {
                post: [],
                metaTitle: '',
                metaDescription: '',
                postID: '',
                popularPostsData: ''
            }
        },
        computed: mapState([
			'mainClass'
        ]),
        methods: {
			mainClassChange() {
				this.$store.state.mainClass = 'single-layout'
            },
            toggleBodyClass(addRemoveClass, className) {
				const el = document.body;

				if (addRemoveClass === 'addClass') {
					el.classList.add(className);
				} else {
					el.classList.remove(className);
				}
			}
        },
        components: {
            PrevNext
		}
    };
</script>

