<template>

	<section class="posts-intro">
		<div class="posts-intro__container">
			<div class="posts-intro__grid align-middle">
                <div class="posts-intro__cell">
                    <div class="content">
                        <h1>
                            Posts
                        </h1>
                        <pagination :pagination="pagination"
                            @prev="--postsData.page; getPosts();"
                            @next="postsData.page++; getPosts();">
                        </pagination>

                        <div class="posts-intro__sub-grid">
                            <nuxt-link class="post-preview" v-for="post in posts" :key="post.id" :to="'/posts/' + post.slug">
                                <span v-html="post.title.rendered">
                                    <!-- {{ post.title.rendered }} -->
                                </span>
                            </nuxt-link>
                        </div>

                    </div>
                </div>
			</div>
		</div>
	</section>

</template>

<style lang="scss" scoped>
    h1 {
        text-align: center;
        margin-bottom: 30px;
        // text-transform: none;
    }
</style>


<script>

	import API_CONFIG from '~/store/apiConfig.js'
	import Pagination from '~/components/posts/Pagination.vue'
    import axios from 'axios'
    import mutations from '~/store/mutations'

	export default {
		beforeMount() {
            this.$store.state.pageClass = 'page-tmpl--posts page-tmpl--height';

            this.toggleBodyClass('addClass', 'mb-1');
        },
		mounted() {
            // this.getHeader();
            // pagination.push(this.pagination.prevPage)
		},
		data(){
            return {
                posts: [],
                postsData: {
                    per_page: this.$store.state.postsData.per_page,
                    page: this.$store.state.postsData.page
                },
                pagination: {
                    prevPage: '',
                    nextPage: '',
                    totalPages: '',
                    from: '',
                    to: '',
                    total: '',
                },
            }
		},
		destroyed() {
            this.$store.state.pageClass = ''
            this.toggleBodyClass('removeClass', 'mb-1');
		},
		components: {
			'pagination': Pagination
        },
        head () {
            return {
                title: 'Posts | Rory Heaney',
                meta: [
                    { hid: 'description', name: 'description', content: 'Posts written by Rory Heaney'},
                    { hid: 'og:url', property: 'og:url', content: 'https://fancysquares.blog' + this.$route.fullPath},
                    { hid: 'og:description', property: 'og:description', content:  'Posts written by Rory Heaney'},
                    { hid: 'og:title', property: 'og:title', content: 'Posts | Rory Heaney'},
                    { property: 'og:type', content: 'object' },
                    { property: 'og:image', content: '' },
                ]
            }
        },
		methods: {
			getPosts(){
                axios.get(API_CONFIG.baseUrl + API_CONFIG.basePostsUrl, {params: this.postsData})
                    .then((response) => {
                        this.posts = response.data;
                        this.configPagination(response.headers);
                    })
                        .catch( error => { 
                            console.log(error); 
                        });

            },
			configPagination(headers, value) {
                this.pagination.total = +headers['x-wp-total'];
                this.pagination.totalPages = +headers['x-wp-totalpages'];
                this.pagination.from = this.pagination.total ? ((this.postsData.page - 1) * this.postsData.per_page) + 1 : ' ';
                this.pagination.to = (this.postsData.page * this.postsData.per_page) > this.pagination.total ? this.pagination.total : this.postsData.page * this.postsData.per_page;
                this.pagination.prevPage = this.postsData.page > 1 ? this.postsData.page : '';
                this.pagination.nextPage = this.postsData.page < this.pagination.totalPages ? this.postsData.page + 1 : '';

                // //update store for when you got back to the page
                // this.$store.dispatch('updatePaginationTotal', this.pagination.total);
                // this.$store.dispatch('updatePaginationTotalPages', this.pagination.totalPages);
                // this.$store.dispatch('updatePostsCurrentPage', this.postsData.page);
                // this.$store.dispatch('updatePaginationNextPage', this.pagination.nextPage);
                // this.$store.dispatch('updatePaginationTo', this.pagination.to);
                // this.$store.dispatch('updatePaginationFrom', this.pagination.from);
                // this.$store.dispatch('updatePaginationPreviousPage', this.pagination.prevPage);
            },
            toggleBodyClass(addRemoveClass, className) {
				const el = document.body;

				if (addRemoveClass === 'addClass') {
					el.classList.add(className);
				} else {
					el.classList.remove(className);
				}
			},
		},
		async asyncData(context) {

            const response = await axios.get(API_CONFIG.baseUrl + API_CONFIG.basePostsUrl + '?per_page=4&page=' + context.app.store.state.postsData.page);
                let totalPages = parseInt(response.headers['x-wp-totalpages'])

            return {
                posts: response.data,
                pagination: {
                    totalPages: totalPages,
                    total: parseInt(response.headers['x-wp-total']),
                    from: context.app.store.state.pagination.from,
                    nextPage: context.app.store.state.pagination.nextPage,
                    to: context.app.store.state.pagination.to
                }
            }

        },
		
	}

</script>

