<template>
	<div class="page-tmpl" v-bind:class="[{'page-tmpl--nav': this.$store.state.isNavActive}, this.$store.state.pageClass]">
		<button id="nav-toggle" @click="activeNavigation">
			<i class="fa fa-plus" aria-hidden="true"></i>
			<i class="fa fa-times" aria-hidden="true"></i>
		</button>
		<main-header></main-header>
        <main :class="'main ' + $store.state.mainClass">
			<nuxt/>
		</main>

		<div id="triangle-down" ></div>
  		<div id="triangle-up" ></div>
			<div id="welcome">
				<span>
					Welcome!
				</span>
				<div class="loader">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
					<div class="bar4"></div>
					<div class="bar5"></div>
					<div class="bar6"></div>
				</div>
			</div>

	</div>
	<!-- this.$store.state.pageClass -->
</template>

<style lang="scss" scoped>

	@import "../assets/scss/common/mixins.scss";
	@import "../assets/scss/common/type.scss";

	#triangle-up {
		transform: translateZ(0);
		backface-visibility: hidden;
		width: 0;
		height: 0;
		border-left: 100vw solid transparent;
		border-right: 0 solid transparent;
		border-bottom: 100vh solid #323138;
		transition: border-left 1.75s ease-in-out, border-bottom 1.75s ease-in-out;
		position: fixed;
		z-index: 9;
		top: 0;
		right: 0;
		&.wipeout {
			border-left: 0 solid transparent;
			border-right: 0 solid transparent;
			border-bottom: 100vh solid #ffffff;
			// transition: 1.75s ease-in-out;
			transition: border-left 1.75s ease-in-out, border-bottom 1.75s ease-in-out;
		}
	}

	#triangle-down {
		transform: translateZ(0);
		backface-visibility: hidden;
		width: 0;
		height: 0;
		border-left: 0 solid transparent;
		border-right: 100vw solid transparent;
		border-top: 100vh solid #1e1e21;
		transition: border-right 1.75s ease-in-out, border-bottom 1.75s ease-in-out;
		float: left;
		position: fixed;
		z-index: 9;
		left: 0;
		top: 0;
		&.wipeout {
			border-left: 0 solid transparent;
			border-right: 0 solid transparent;
			border-bottom: 100vh solid #ffffff;
			// transition: 1.75s ease-in-out;
			transition: border-right 1.75s ease-in-out, border-bottom 1.75s ease-in-out;
		}
	}

	#welcome {
		@include centerer;
		position: fixed;
		z-index: 99;
		span {
			@include MONTSERRAT_BOLD;
			font-size: 50px;
			text-transform: uppercase;
			line-height: 1;
			// letter-spacing: -2px;
			color: #fff;
			letter-spacing: 2px;
			@media only screen and (min-width: 1440px) {
				font-size: 60px;
			}
		}
	}

	@-webkit-keyframes delay {
		0%, 40%, 100% { -webkit-transform: scaleY(0.05) }  
		20% { -webkit-transform: scaleY(1.0) }
	}

	@keyframes delay {
		0%, 40%, 100% { 
			transform: scaleY(0.05);
			-webkit-transform: scaleY(0.05);
		}  20% { 
			transform: scaleY(1.0);
			-webkit-transform: scaleY(1.0);
		}
	}

	.loader {
		margin: 0 auto;
		width: 60px;
		height: 50px;
		text-align: center;
		font-size: 10px;
		margin-top: 50px;
		
		> div {
			height: 100%;
			width: 8px;
			display: inline-block;
			float: left;
			margin-left: 2px;
			-webkit-animation: delay 0.8s infinite ease-in-out;
			animation: delay 0.8s infinite ease-in-out;
		}
		
		.bar1{
			background-color: #754fa0 ;
		}
		.bar2{
			background-color: #09b7bf;
			-webkit-animation-delay: -0.7s;
			animation-delay: -0.7s;
		}
		.bar3{
			background-color: #90d36b;
			-webkit-animation-delay: -0.6s;
			animation-delay: -0.6s;
		}
		.bar4{
			background-color: #f2d40d;
			-webkit-animation-delay: -0.5s;
			animation-delay: -0.5s;
		}
		.bar5{
			background-color: #fcb12b;
			-webkit-animation-delay: -0.4s;
			animation-delay: -0.4s;
		}
		.bar6{
			background-color: #ed1b72;
			-webkit-animation-delay: -0.3s;
			animation-delay: -0.3s;
		}
	}

	@-webkit-keyframes pulse {
		0% {
			-webkit-box-shadow: 0 0 0 0 rgba(68, 68, 68, 0.4);
		}
		70% {
			-webkit-box-shadow: 0 0 0 20px rgba(68, 68, 68, 0);
		}
		100% {
			-webkit-box-shadow: 0 0 0 0 rgba(68, 68, 68, 0);
		}
	}
	@keyframes pulse {
		0% {
			box-shadow: 0 0 0 0 rgba(68, 68, 68, 0.4);
		}
		70% {
		
			box-shadow: 0 0 0 20px rgba(68, 68, 68, 0);
		}
		100% {
			
			box-shadow: 0 0 0 0 rgba(68, 68, 68, 0);
		}
	}

	#nav-toggle {
		color: #fff;
		background-color: #000;
		position: absolute;
		top: 0;
		right: 0;
		height: 50px;
		width: 50px;
		display: block;
		text-align: center;
		z-index: 9;
		cursor: pointer;
		box-shadow: 0 0 0 rgba(68, 68, 68, 0.4);
		animation: pulse 2s infinite;
		// left: 0;
		// margin: auto;
		@media only screen and (max-width: 1023px) {
			position: fixed;
			top: 0;
			right: 0;
		}
		&:hover {
			.fa-plus {
				opacity: 0;
			}
			.fa-times {
				opacity: 1;
			}
		}
		.fa {
			position: absolute;
			left: 0;
			right: 0;
			top: 16px;
			transition: opacity .25s ease-out;
		}
		.fa-times {
			opacity: 0;
		}
	}
	

</style>


<script>
	
	import MainHeader from '~/components/header/main-header.vue'

	export default {
		mounted() {
			// this.timingClass();
			this.removeOpener();
		},
		data() {
			return {
			
			}
		},
		components: {
            MainHeader,
            // FooterMain
		},
		methods: {
			activeNavigation: function() {
				// this.$store.state.pageTemplate = 'page-tmpl--nav'
				// this.isActive = !this.isActive;
				this.$store.state.isNavActive = !this.$store.state.isNavActive;

			},
			removeOpener: function(){
				
				setTimeout(function(){ 
		
					document.getElementById("triangle-up").classList.add('wipeout');
					document.getElementById("triangle-down").classList.add('wipeout');

					// let blah = document.getElementById("triangle-down");
					// console.log(blah);
					jQuery('#welcome').fadeOut();
					// alert("Hello"); 
					setTimeout(function(){ 
						jQuery('#triangle-up, #triangle-down').fadeOut();				
						// alert("Hello"); 
					}, 1750);
				}, 500);

			}

			// timingClass: function(){
			// 	let timerButton = jQuery('.nav-toggle');

			// 	timerButton.on('click',function(){
			// 		})

			// 		console.log('balls');
			// }
		}
	}


</script>