<template>

    <section class="contact-intro">
		<div class="contact-intro__container">
			<div class="contact-intro__grid align-middle">
                <div class="contact-intro__cell">
                    <div class="content text-center">
 
                        <h1 v-if="error.statusCode === 404">
                            <span class="error-big">404</span> OH SH!7       
                         </h1>
                        <h1 v-else>An error occurred</h1>
                        <br/>
                        <nuxt-link to="/">
                            <img src="~/assets/images/hiding.gif">
                        </nuxt-link>
                        <br/>   
                        <br/>
                        <nuxt-link to="/" class="error-home-link">GO HOME NOW</nuxt-link>

                    </div>
                </div>
			</div>
		</div>
	</section>

</template>

<style lang="scss">
    .error-home-link {
        color: red;
        font-weight: bold;
        font-size: 30px;
    }
    .error-big {
        display: block;
        font-size: 119px;
    }
</style>


<script>
    export default {
        props: ['error'],
    }
</script>