<template>

	<section class="home-intro">
		<div class="home-intro__container">
			<div class="home-intro__grid align-middle">
				<div class="left">
					<div class="content">

						<h1>
							Rory Michael Heaney
						</h1>

						<h2 v-html="page.acf.sub_title"></h2>
						
						<div v-html="page.content.rendered"></div>
						
					</div>
				</div>
				<!-- <div class="right text-center">
					<div class="content">
						
					</div>
				</div> -->
			</div>
		</div>
	</section>

</template>

<script>
// import Logo from '~/components/Logo.vue'
	import API_CONFIG from '~/store/apiConfig.js'

	export default {
		beforeMount() {
			this.$store.state.pageClass = 'page-tmpl--home'
			// console.log(this.$store.state.pageClass);
			this.toggleBodyClass('addClass', 'mb-0');
		},
		destroyed() {
			this.$store.state.pageClass = ''
			this.toggleBodyClass('removeClass', 'mb-0');
		},
		data(){
			return {
				page: []
			}	
		},
		methods: {
			toggleBodyClass(addRemoveClass, className) {
				const el = document.body;

				if (addRemoveClass === 'addClass') {
					el.classList.add(className);
				} else {
					el.classList.remove(className);
				}
			},
		},
		head () {
            return {
                title: this.page.title.rendered + ' | Fancy Squares',
                meta: [
					{ hid: 'description', name: 'description', content:  this.page.yoast_meta.yoast_wpseo_metadesc},
					{ hid: 'og:url', property: 'og:url', content: 'https://fancysquares.blog' + this.$route.fullPath},
                    { hid: 'og:description', property: 'og:description', content:  this.page.yoast_meta.yoast_wpseo_metadesc},
                    { hid: 'og:title', property: 'og:title', content: this.page.title.rendered + ' | About Page'},
                    { property: 'og:type', content: 'object' },
                    { property: 'og:image', content: '' },
				],
				__dangerouslyDisableSanitizers: ['script'],
                script: [{ 
                    // innerHTML: JSON.stringify(this.structuredData),
                    innerHTML: `{
						"@context": "http://schema.org/",
						"@type": "Person",
						"name": "Rory Heaney",
						"url": "https://fancysquares.blog/",
						"image": "https://fancysquares.blog/images/Rory-cropped.jpg",
						"sameAs": [
							"https://twitter.com/RoryMHeaney",
							"https://www.instagram.com/inkedraskal/"
						],
						"jobTitle": "WordPress Developer (Front-End Developer)",
						"worksFor": {
							"@type": "Organization",
							"name": "Fancy Squares"
						}
                    }`, 
                    type: 'application/ld+json' 
                }]
            }
        },
		asyncData(context) {
			return context.app.$axios.$get(API_CONFIG.baseUrl + API_CONFIG.basePagesUrl + '/499')
				.then(data => {
					// console.log(data)
					return {
						page: data
					}
				}).catch(e => {
					console.log(e);
				})
		}
		
	}
</script>

<style>

</style>
