<template>

	<section class="contact-intro">
		<div class="contact-intro__container">
			<div class="contact-intro__grid align-middle">
                <div class="contact-intro__cell">
                    <div class="content">
                        <h2>
                            Hey Everyone!
                        </h2>
                        <br/>
                        <p>
                            Thank you for attending my talk, it was awesome to share that information with all of you.
                        </p>
                        <p>
                            PDF aside, always remember, if possible, this is done from the start, and you'll be all set
                        </p>
                        <p>
                            If you have any question you can just fill my contact form / linkedIn / email whatever. I'll be adding more info to this page this week.  
                        </p>
                        <br/>
                        
                        <a class="pdf-link" href="/talks/Copy-of-Intro-to-ADA-Development.pdf" target="_blank">
                            Slides PDF!
                        </a>
                        <br/><br/>
                        <a class="plugin-link" href="https://developers.google.com/web/tools/lighthouse/" target="_blank">
                            Lighthouse audit plugin for chrome
                        </a>

                    </div>
                </div>
			</div>
		</div>
	</section>

</template>

<style lang="scss" scoped>
    .pdf-link {
        font-weight: bold;
        color: red;
    }
    .fsForm_button {
        background-color: rgba($color: #000000, $alpha: 1);
        &:hover {
            background-color: rgba($color: #000000, $alpha: .8)
        }
    }
</style>


<script>

    import Vue from 'vue';
    import VeeValidate from 'vee-validate';

    Vue.use(VeeValidate);
    // add this because inputs need to be kept the safe for WP 
    import { Validator } from 'vee-validate';
    const dictionary = {
        en: {
            attributes: {
                input_2: 'Select',
                input_4: 'Name',
                input_5: 'Email Address',
                input_6: 'Message'
            }
        },

    };

    Validator.localize(dictionary);

	export default {
		beforeMount() {
            this.$store.state.pageClass = 'page-tmpl--contact page-tmpl--height';

            this.toggleBodyClass('addClass', 'mb-3');
        },
		mounted() {
            // this.getHeader();
            // pagination.push(this.pagination.prevPage)
		},
		data(){
            return {
                post: [],
            }
		},
		destroyed() {
            this.$store.state.pageClass = ''
            
            this.toggleBodyClass('removeClass', 'mb-3');
        },
        head () {
            return {
                title: 'Intro to ADA Development, WordCamp Seattle 2018 | Rory Heaney',
                meta: [
                    { hid: 'description', name: 'description', content:  'Intro to ADA Development, WordCamp Seattle 2018. This leacture covers an intro to ADA development with WordPress'},
                    { hid: 'og:url', property: 'og:url', content: 'https://fancysquares.blog' + this.$route.fullPath},
                    { hid: 'og:description', property: 'og:description', content:  'Intro to ADA Development, WordCamp Seattle 2018. This leacture covers an intro to ADA development with WordPress'},
                    { hid: 'og:title', property: 'og:title', content: 'Intro to ADA Development, WordCamp Seattle 2018 | Rory Heaney'},
                    { property: 'og:type', content: 'object' },
                    { property: 'og:image', content: '' },
                ]
            }
        },
		methods: {
            toggleBodyClass(addRemoveClass, className) {
				const el = document.body;

				if (addRemoveClass === 'addClass') {
					el.classList.add(className);
				} else {
					el.classList.remove(className);
				}
			},
			
		},
		
	}

</script>

