/*media examples*/
.element {
    // Only affects medium screens and larger
    @include breakpoint(medium) {
        // All CSS in here goes inside the media query
    }
}

.element {
    // Only affects medium screens and smaller
    @include breakpoint(medium down) { }
    // Only affects medium screens, not small or large
    @include breakpoint(medium only) { }
}

.element {
    // Converted to 20em
    @include breakpoint(320px) { }
    // Unitless values are assumed to be pixels
    @include breakpoint(320) { }
    // Converted to 40em
    @include breakpoint(40rem) { }
}

.element {
    @include breakpoint(landscape) {
        // CSS for landscape-oriented devices only
    }
    @include breakpoint(retina) {
        // CSS for high-resolution displays only
    }
}


@media only screen and (min-width: 1350px) {}
@media only screen and (max-width: 1350px) {}
@media only screen and (min-width: 1350px) and (max-width: 1350px) {}

a {
    @include link-transition;
}

@mixin content-spacing-nav-open(){
    padding-right: 10%;
    transition-delay: 0s;
    padding-right: 0;
    @include breakpoint(large){
        padding-right: 35%;
    }
    @include breakpoint(xlarge){
        padding-right: 39%;
    }
    @include breakpoint(xxlarge){
        padding-right: 47.5%;
    }
}

@mixin content-max-width(){
    max-width: 760px;
    @include breakpoint(xxlarge){
        max-width: 860px;
    }
}

@mixin min-vh {
    @include breakpoint(large){
        min-height: calc(100vh - 200px);
        padding: 50px 30px;
    }
}



body {
    transition: background-color .35s ease-out;
    background-color: $white;
    @include breakpoint(medium down){
        // padding-top: 30px;
    }
    &.mb-0 {
        // background-color: #f5f5fa;F54E54
        @include breakpoint(large){
            background-color: rgba($color: #C7BEBE, $alpha: .2)
            
        }
    }
    &.mb-1 {
        @include breakpoint(large){
            background-color: rgba($color: #00CBBC, $alpha: .2)
            
        }
        // background-color: rgba(red, green, blue, alpha)
    }
    &.mb-2 {
        @include breakpoint(large){
            background-color: rgba($color: #7451FF, $alpha: .2)
            
        }
    }
    &.mb-3 {
        // #F5AF00
        @include breakpoint(large){
            background-color: rgba($color: #F5AF00, $alpha: .2)
            
        }
    }
    &.mb-4 {
        // #F5AF00
        @include breakpoint(large){
            background-color: rgba($color: #F54E54, $alpha: .2)
            
        }
    }
}