//fonts go here
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400i|Montserrat:400,400i,500,700|Roboto:300');

@mixin MONTSERRAT_REG {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@mixin MONTSERRAT_REG_I {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin MONTSERRAT_BOLD {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

@mixin MONTSERRAT_MED {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

@mixin ROBOTO_LIGHT {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@mixin GARAMOND_I {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-style: italic;
}



h1,.h1 {
    @include MONTSERRAT_BOLD;
    font-size: rem-calc(50);
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -2px;
    @media only screen and (max-width: 768px) {
        font-size: rem-calc(30);
    }
}

h2,.h2 {
    @include MONTSERRAT_BOLD;
    font-size: rem-calc(35);
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -2px;
}

body {
    @include MONTSERRAT_REG;
    p {
        @include ROBOTO_LIGHT;
        font-size: rem-calc(15);
        letter-spacing: rem-calc(1.5);
        line-height: 1.8;
    }
    main {
        ul {
            @include ROBOTO_LIGHT;
            font-size: rem-calc(15);
            letter-spacing: rem-calc(1.5);
            line-height: 1.8;
        }
    }
}

// #welcome {
//     @include centerer;
//     position: fixed;
//     z-index: 99;
//     span {
//         @extend .h1;
//         color: $white;
//         letter-spacing: 2px;
//         @include breakpoint(xlarge){
//             font-size: rem-calc(60);
//         }
//     }
// }